.nfs*
*.swp
*.swo
*~
*.so
*.egg
*.bak
*.pyc
*Log.out
*.log
*.DS_Store

.mypy_cache
install/PriceSource*
install/cdhit
*.egg-info
*__pycache__*


databases/test/
databases/human-bowtie
databases/star-index-dir/
docs/_build
